.richTextContainer ul {
  list-style: disc;
  padding-left: 20px; /* or list-style-type: disc; */
}

.richTextContainer ol {
  list-style-type: decimal;
  padding-left: 20px; /* Adjust as needed */
}
