.dashboard {
  padding: 10px;
  border-radius: 10px;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, auto);

  .box {
    border: 1px solid #bcc9c9;
    padding: 10px;
    border-radius: 20px;
  }

  .box1 {
    grid-column: span 2;
    grid-row: span 2;
    align-self: center;

    .container {
      display: grid;
      align-items: center;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(180px, auto);
    }
  }

  .box2 {
    grid-column: span 1;
    grid-row: span 2;
  }

  // .box1,
  // .box4 {
  //   grid-column: span 1;
  //   grid-row: span 2;
  // }

  // .box7,
  // .box8 {
  //   grid-column: span 2;
  //   grid-row: span 1;
  // }
}
