.date-picker-start {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.date-picker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.editor-input {
  width: 100%;
  height: 15rem;
  font-family: "Roboto", sans-serif;
}

.rich-text-editor {
  .editor-input {
    width: 100%;
    height: 15rem;
    font-family: "Roboto", sans-serif;
  }
}
